@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;

    font-family: "Inter", sans-serif;
    color: var(--dark);
}

:root {
    --primary: #c52530;
    --dark: #131316;
    --light: #fcfcfd;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--light);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    font-size: 2rem;
}

h3 {
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    font-size: 1.75rem;
}

h4 {
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    font-size: 1.25rem;
}

p {
    margin: 1rem 0px;
    line-height: 1.75rem;
    max-width: 80ch;
}

.clickable {
    transition: 150ms opacity;
}

.clickable:hover {
    opacity: 0.5;
}

.clickable:active {
    opacity: 0.3;
}

.column {
    flex-grow: 1;
    row-gap: 20px;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px;
    border: 1px solid var(--dark);
    border-top: 0px;
    border-bottom: 0px;
}

page-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--dark);
}

.sitemap {
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-card {
    border-radius: 5px;
    width: 100%;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.split-card {
    display: flex;
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex-basis: 33%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 20px 25px;
    row-gap: 15px;
}

.card > h4 {
    text-align: center;
}

.breadcrumb {
    display: flex;
    column-gap: 10px;
}

.breadcrumb > div {
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    font-size: 1.25rem;
    opacity: 0.4;
}

.breadcrumb > a {
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    font-size: 1.25rem;
}

.socials {
    display: flex;
    column-gap: 20px;
}

.overview {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.headshot {
    border: 1px solid var(--dark);
    border-radius: 5px;
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.business-card {
    font-family: "Source Code Pro", monospace;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 20px 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.degree {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.files {
    display: flex;
    column-gap: 20px;
}

.file {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

page-footer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Source Code Pro", monospace;
    border-top: 1px solid var(--dark);
}

.table-of-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    padding: 0px 20px;
}

.table-of-contents > li {
    list-style: square;
}

.experience-card {
    width: 100%;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.experience-date {
    font-style: italic;
}

.experience-title {
    font-weight: 700;
    width: 100%;
}

.experience-highlight {
    margin: 15px 0px;
    display: flex;
    padding-bottom: 35px;
    border-bottom: 1px solid var(--dark);
}

.experience-highlight:before {
    content: "▪";
    margin-right: 10px;
}

.project-card {
    width: 100%;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.project-date {
    font-style: italic;
}

.img-list {
    display: flex;
    position: relative;
    justify-content: center;
}

.img-list > img {
    display: block;
    max-width: 50%;
    border-radius: 5px;
}
